In [1]:
# Select only the columns with names, latitude, and longitude
cleaned_df = df[['wellnessCentreName', 'latitude', 'longitude']]

# Display the cleaned data
cleaned_df.head()

NameError: name 'df' is not defined

In [2]:
import pandas as pd

df = pd.read_csv("Hospitals In India (Anonymized).csv")
cleaned = df[['id', 'Latitude', 'Longitude']].rename(columns={
    'id': 'name', 'Latitude': 'latitude', 'Longitude': 'longitude'
})
cleaned.to_csv("cleaned_hospitals.csv", index=False)

In [6]:
# Strip whitespace from column names
df = pd.read_csv("bbmp-parks-2016.csv")
df.columns = df.columns.str.strip()

# Now select and rename the relevant columns
cleaned_df = df[['Park Name', 'Latitude', 'Longitude']].rename(columns={
    'Park Name': 'Name'
})

# Drop rows with missing latitude or longitude
cleaned_df = cleaned_df.dropna(subset=['Latitude', 'Longitude'])

# Show the cleaned data
cleaned_df.head()

                                                Name   Latitude  Longitude
0                                  Puttenahalli park  13.110557  77.580365
1  SFS 208 Opp to Mother Dairy and 1st Main Park ...  13.099303  77.574431
2  SFS 208 Opp to Mother dairy 2nd Main P 208 2 P...  13.099846  77.575161
3        SFS 407 1st and 3rd e 208 Main Park P 407 3  13.102118  77.573854
4  SFS 208 1st Main and 2nd Main Behind to House ...  13.099616  77.572693

In [7]:
import pandas as pd

# Load the uploaded CSV file
file_path = "bbmp-parks-2016.csv"
df = pd.read_csv(file_path)

# Display the first few rows to understand the structure
df.head()

,Ward No,Ward Name,Sub Division,Division,Assembly Constituency,Zone Name,Park Name,Latitude,Longitude,Square Meter,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,2,Chowdeswari Ward,Yelahanka,Yelahanka,Yelahanka,Yelahanka,Puttenahalli park,13.110557,77.580365,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3,Atturu,Yelahanka,Yelahanka,Yelahanka,Yelahanka,SFS 208 Opp to Mother Dairy and 1st Main Park ...,13.099303,77.574431,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Atturu,Yelahanka,Yelahanka,Yelahanka,Yelahanka,SFS 208 Opp to Mother dairy 2nd Main P 208 2 P...,13.099846,77.575161,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Atturu,Yelahanka,Yelahanka,Yelahanka,Yelahanka,SFS 407 1st and 3rd e 208 Main Park P 407 3,13.102118,77.573854,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3,Atturu,Yelahanka,Yelahanka,Yelahanka,Yelahanka,SFS 208 1st Main and 2nd Main Behind to House ...,13.099616,77.572693,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# Keep only the necessary columns and rename them
cleaned_df = df[['Park Name', 'Latitude', 'Longitude']].rename(columns={
    'Park Name': 'Name'
})

# Drop rows with missing latitude or longitude
cleaned_df = cleaned_df.dropna(subset=['Latitude', 'Longitude'])

# Show the cleaned data
cleaned_df.head()

KeyError: "['Latitude'] not in index"

In [11]:
# Strip whitespace from column names
df.columns = df.columns.str.strip()

# Now select and rename the relevant columns
cleaned_df = df[['Park Name', 'Latitude', 'Longitude']].rename(columns={
    'Park Name': 'Name'
})

# Drop rows with missing latitude or longitude
cleaned_df = cleaned_df.dropna(subset=['Latitude', 'Longitude'])
cleaned_df.to_csv("cleaned_parks.csv", index=False)

# Show the cleaned data
cleaned_df.head()

                                                Name   Latitude  Longitude
0                                  Puttenahalli park  13.110557  77.580365
1  SFS 208 Opp to Mother Dairy and 1st Main Park ...  13.099303  77.574431
2  SFS 208 Opp to Mother dairy 2nd Main P 208 2 P...  13.099846  77.575161
3        SFS 407 1st and 3rd e 208 Main Park P 407 3  13.102118  77.573854
4  SFS 208 1st Main and 2nd Main Behind to House ...  13.099616  77.572693

In [12]:
import pandas as pd

# Load the original file
df = pd.read_csv("bbmp-parks-2016.csv")

# Strip extra spaces from column names
df.columns = df.columns.str.strip()

# Keep only the needed columns and rename
cleaned_df = df[['Park Name', 'Latitude', 'Longitude']].rename(columns={
    'Park Name': 'Name'
})

# Drop rows with missing coordinates
cleaned_df = cleaned_df.dropna(subset=['Latitude', 'Longitude'])

# Save to new CSV
cleaned_df.to_csv("cleaned_parks.csv", index=False)